* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #a9a9a9;
}
.content {
  max-width: 900px;
  margin: 0 auto;
}
.top-section {
  width: 900px;
  height: 1061px;
  background-color: white;
  margin-top: 27px;
  margin-bottom: 27px;
  border-radius: 13px;
}
.span {
  color: #04175a;
  font-size: 35px;
}
.top-section h1 {
  padding-top: 43px;
  padding-left: 36px;
  font-size: 57px;
  font-weight: 600;
}
.form-container {
  display: flex;
  gap: 42px;
  margin-left: 36px;
}
.address-container {
  margin-top: 5px;
  margin-left: 36px;
}
.form-section {
  display: flex;
  flex-direction: column;
}
.form {
  margin-top: 46px;
}
label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
input,
select {
  border-radius: 5px;
  border: 1px solid #000;
  width: 393px;
  height: 66px;
  margin-bottom: 26px;
}
.address {
  margin-bottom: 56px;
  border-radius: 5px;
  border: 1px solid #000;
  width: 825px;
  height: 164px;
}
select {
  padding-left: 15px;
  font-size: 15px;
}
input[type="date"] {
  padding-left: 15px;
  font-size: 15px;
}
::placeholder {
  padding-left: 15px;
  font-size: 15px;
}
.CV input {
  font-size: 18px;
  font-weight: 600;
  padding-left: 26px;
  padding-top: 23px;
}
.CV label {
  margin-top: 10px;
}
.date label {
  margin-top: 10px;
}
.button {
  padding-top: 70px;
  padding-right: 31px;
  display: flex;
  justify-content: flex-end;
}
button {
  width: 168px;
  height: 46px;
  border-radius: 5px;
  background: #f00;
  color: white;
  font-size: 28px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s ease-out;
}
button:hover {
  background-color: #ccc;
  border: 2px solid red;
  color: black;
  transition: 0.3s ease-in;
}

/* media-queries-section */

@media (min-width: 820px) and (max-width: 1024px) {
  input,
  select {
    height: 55px;
    width: 320px;
  }
  .address {
    width: 683px;
  }
  .top-section {
    width: 761px;
    height: 1015px;
  }
  .content {
    display: flex;
    place-content: center;
  }
  .CV input {
    padding-top: 13px;
  }
}
@media (min-width: 700px) and (max-width: 820px) {
  input,
  select {
    height: 45px;
    width: 270px;
  }
  .address {
    width: 583px;
  }
  .CV input {
    padding-top: 8px;
    padding-left: 15px;
  }
  .top-section {
    width: 650px;
    height: 975px;
  }
  .content {
    display: flex;
    place-content: center;
  }
}
@media (min-width: 520px) and (max-width: 700px) {
  input,
  select {
    height: 35px;
    width: 190px;
  }
  .address {
    width: 423px;
    height: 100px;
    margin-bottom: 40px;
  }
  .CV input {
    padding-top: 3px;
    padding-left: 15px;
  }
  .top-section {
    width: 490px;
    height: 885px;
    margin-bottom: 0px;
  }
  .content {
    display: flex;
    place-content: center;
  }
  .button {
    padding-top: 35px;
  }
}
@media (min-width: 400px) and (max-width: 520px) {
  input,
  select {
    height: 40px;
    width: 360px;
  }
  .address {
    width: 360px;
    height: 70px;
    margin-bottom: 25px;
  }
  .address-container {
    margin-left: 15px;
  }
  .CV input {
    padding-top: 5px;
    padding-left: 15px;
  }
  .top-section {
    width: 390px;
    height: 1330px;
    margin-bottom: 0px;
  }
  .top-section h1 {
    padding-left: 0px;
    text-align: center;
  }
  .form-container {
    place-items: center;
    margin-left: 0px;
    flex-direction: column;
    gap: 0px;
  }
  .button {
    padding-top: 35px;
    padding-right: 0px;
    justify-content: center;
  }
  button {
    border-radius: 10px;
  }
  .content {
    display: flex;
    place-content: center;
  }
}
@media (min-width: 300px) and (max-width: 400px) {
  input,
  select {
    height: 40px;
    width: 260px;
  }
  .address {
    width: 260px;
    height: 70px;
    margin-bottom: 25px;
  }
  .address-container {
    margin-left: 25px;
  }
  .CV input {
    padding-top: 5px;
    padding-left: 15px;
  }
  .top-section {
    width: 305px;
    height: 1205px;
    margin-bottom: 0px;
  }
  .top-section h1 {
    font-size: 35px;
    padding-left: 0px;
    text-align: center;
  }
  .form-container {
    place-items: center;
    margin-left: 0px;
    flex-direction: column;
    gap: 0px;
  }
  .button {
    padding-top: 30px;
    padding-right: 0px;
    justify-content: center;
  }
  button {
    border-radius: 10px;
  }
  .content {
    display: flex;
    place-content: center;
  }
}
